::template::
<b:section class='b-section-footer' id='b-section-footer' maxwidgets='2' name='Footer section' showaddelement='yes'>
</b:section>
::endtemplate::

::skin::
/*
=================================================
Footer
=================================================
*/
::endskin::
