::template::

<div class="mainheading">
  <h1 class="sitetitle"><data:blog.title/></h1>
  <p class="lead">
    Bootstrap theme, medium style, simply perfect for bloggers
  </p>
</div>

::endtemplate::



::skin::
/*
=================================================
Header
=================================================
*/
::endskin::
