::template::
<b:section class='b-section-sidebar' id='b-section-sidebar' name='Sidebar section'>
</b:section>
::endtemplate::

::skin::
/*
=================================================
Sidebar
=================================================
*/

::endskin::
