::template::
<b:section class='b-section-feature' id='b-section-feature' name='Feature (Homepage Only)'>
</b:section>
::endtemplate::

::skin::
/*
=================================================
Feature
=================================================
*/

::endskin::
